<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Bonus Data-->
    <add key="BonusID" value="Bonus_Test"/>
    <add key="BonusAmt" value="10"/>

    <!--Registration Data-->
    <add key="Fname" value="Tester"/>
    <add key="city" value="United Kingdom"/>
    <add key="BannedCountry" value="India"/>
    <add key="City_Web" value="Middx"/>
    <add key="City_Mobile" value="Middx"/>
    <add key="Password" value="Password1"/>

    <!--Login Data-->
    <add key="ValidUname" value="Useruofworc"/>
    <add key="ValidPass" value="Password1"/>
    <add key="ValidFname" value="Suhail"/>

    <!--Wallet data-->
    <add key="WAmount" value="1"/>
    <!--Sports/Gaming/Casino/Poker/Vegas-->
    <add key="WalletUname" value="Useruofxqayb"/>
    <add key="WalletPass" value="Password1"/>
    <add key="WalletFname" value="Tester"/>
    <add key="MainWallet" value="Gaming"/>
    <!--Sports/Gaming/Casino/Poker/Vegas-->
    <add key="WalletAll" value="Sportsbook;Gaming;Games"/>


    <!--Deposit/Withdraw data (Credit card user)-->
       
    <add key="DepUname" value="Useruofaepbao"/>
    <add key="CC#" value="6331102732864500"/>
    <add key="DepPass" value="Password1"/>
    <add key="DepFname" value="Testeruofwmty"/>
    <add key="DepAmount" value="10"/>
    <add key="MaxAmount" value="1000"/>
    <add key="DepWalletAll" value="Gaming"/>
    <add key="WithWalletAll" value="Gaming"/>
    
    <!--Payment Method Deposit data-->

    <add key="CDCC1" value="5301234377780002"/>
    <add key="CDDepAmount" value="5"/>
    <add key="CDDepWallet" value="Vegas"/>
    <add key="CDWithWallet" value="Vegas"/>

    <!--OXI deposit-->
    <add key="OXICard" value="5413615100001390"/>
    <add key="OXIDepAmount" value="5"/>


    <!--Java - deposit-->
    <add key="J_name" value="Test20140311103807"/>
    <add key="J_Card" value="5573480000000083"/>
    <add key="J_DepAmount" value="5"/>

    <!--Deposit Limit and Withdraw Limit (Netteller user: 458591047553; 411392)-->

    <add key="DWUser" value="Useruofadlbdr" />
    <add key="DWPassword" value="Password1" />
    <add key="DWFName" value="Gokul" />
    <add key="DMSecNumber" value="411392" />

    <!--Update Data-->
    <add key="UpdateUname" value="Useruofaaoabw"/>
    <add key="UpdatePass" value="Password1"/>
    <add key="UpdateFname" value="Password1"/>
    
  </appSettings>
</configuration>
