<configuration>
<appSettings>
<add key="ProjectName" value="AccountsAndWallets Stg" />
<add key="BaseURL1" value="http://bingo-stg.ladbrokes.com/en/" />
<add key="BaseURL2" value="http://casino-stg.ladbrokes.com/en/" />
<add key="BaseURL3" value="https://ladbrokes-staging.mobenga.com/en-gb/" />
<add key="BaseURL4" value="http://vegas-stg.ladbrokes.com/en/" />
<add key="BaseURL5" value="http://uat-ecommerce-leeds.ladbrokes.com/exchange" />
<add key="BaseURL6" value="https://admin-stg.ladbrokes.com/index.php" />
<add key="BaseURL7" value="http://poker-stg.ladbrokes.com/en/" />
<add key="BaseURL8" value="http://livedealer-stg.ladbrokes.com/en/live-casino" />
<add key="BaseURL9" value="https://stg-gib.ladbrokes.com/admin" />
<add key="BaseURL10" value="http://tst-games.ladbrokes.com/en" />
<add key="UserName1" value="SandeepKR1" />
<add key="Password1" value="Aditi02*" />
<add key="UserName2" value="nihar_n" />
<add key="Password2" value="123456" />
<add key="TimeOut1" value="5" />
<add key="TimeOut2" value="90000" />
<add key="TimeOut3" value="60" />
<add key="TimeOut4" value="90" />
<add key="UseGrid" value="No" />
<add key="RerunLimit" value="0" />
<add key="Mode" value="Maintenance" />
<add key="DegreeOfParalellism" value="3" />
<add key="BrowserType" value="Chrome" />
<add key="DeviceType" value="None" />
<add key="SendEmail" value="No" />
<add key="FromMail" value="ims.bau.automation@gmail.com" />
<add key="Sender" value="Auto Generated Mailer" />
<add key="ToMail" value="vamseedharrm@aditi.com;samkc@aditi.com;nagamanickamm@aditi.com;sandeepkr@aditi.com;saurabhk@aditi.com;kunalvn@aditi.com;bharaths@aditi.com" />
<add key="MailPass" value="Ladbrokes1" />
<add key="Body" value="Hi All ,&#xA;            &#xA;PFA summary of the test Run.            &#xA;&#xA;&#xA;Regards,&#xA;Automation" />
<add key="Base1" value="Bingo Url" />
<add key="Base2" value="Casino Url" />
<add key="Base3" value="Sports URL" />
<add key="Base4" value="Vegas URL" />
<add key="Base5" value="Ecom URL" />
<add key="Base6" value="IMS admin URL" />
<add key="Base7" value="Poker URL" />
<add key="Base8" value="Live Dealer UAT" />
<add key="Base9" value="OB URL" />
<add key="Base10" value="Games URL" />
<add key="User1" value="IMS User" />
<add key="Pass1" value="IMS Password" />
<add key="User2" value="OB User" />
<add key="Pass2" value="OB Password" />
<add key="User3" value="Username3" />
<add key="Pass3" value="Password3" />
<add key="User4" value="Username3" />
<add key="Pass4" value="Password3" />
<add key="Time1" value="General TimeOut" />
<add key="Time2" value="PageLoad TimeOut" />
<add key="Time3" value="Element TimeOut" />
<add key="Time4" value="Reload TimeOut" />
<add key="Time5" value="Time-Out5" />
<add key="Time6" value="Time-Out6" />
</appSettings>
</configuration>
